body {
	margin: 0px;
	
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	padding: 0px;
	margin: -1px;
	border: 0px;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*базовая ширина + выравнивание*/

.center {
	width: 1200px;
	padding: 0px 20px;
	margin: 0px auto;
	
	box-sizing: border-box;
}

/*навигация*/

.main-header {
	padding: 0px;
	margin: 0px;
	background-color: #eeeeee;
}

.logo {
	width: 160px;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	
	background-color: #eeeeee;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	padding-top: 50px;
}

.main-navigation a {
	color: #000000;
}

.main-navigation a:hover:not(.active-menu),
.main-navigation a:focus:not(.active-menu) {
	color: #fb565a;
}

.main-navigation a:active:not(.active-menu) {
	color: #a6a6a6;
}

.site-navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 438px;
	padding: 0px;
	margin: 0px;
	
	list-style: none;
}

.site-navigation a {
	padding: 0;
	margin: 0;
	margin-top: 24px;
	display: block;
}

.active-menu {
	border-bottom: 4px solid #eeeeee;
	box-shadow: 0px 2px #fb565a;
}

.active-menu::hover,
.active-menu::focus {
	color: #000000;
}

.user-cart {
	display: block;
	
	width: 115px;
	margin: 0px;
	padding-left: 41px;
	
	list-style: none;
}

.cart-icon {
	position: relative;
	margin-top: 24px;
	display: block;
	text-align: right;
	
	/* outline: 1px dashed black; */
}

.cart-icon::before {
	content: "";
	
	position: absolute;
	top: 7px;
	left: 0px;
	
	width: 16px;
	height: 16px;
	
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

/*главная слайдер*/

.container {
	padding: 0px;
	margin: 0px;
	
	background-color: #eeeeee;
}

.slider {
	position: relative;
	
	background-color: #eeeeee;
}

.slider-controls {
	position: absolute;
	left: 50%;
	bottom: 104px;
	z-index: 100;
	
	width: 160px;
	height: 18px;
	
	text-align: center;
	font-size: 0;
	transform: translateX(-50%);
}

.slider-controls label {
	position: relative;
	
	display: inline-block;
	width: 18px;
	height: 18px;
	padding: 8px;
	
	border-radius: 50%;
	cursor: pointer;
}

.slider-controls label::after {
	content: "";
	
	position: absolute;
	top: 8px;
	left: 8px;
	z-index: 1;
	
	width: 18px;
	height: 18px;
	
	background: #ffffff;
	
	border-radius: 50%;
}

.slider-list {
	padding: 0px;
	margin: 0px;
	list-style: none;
}

.slider-item {
	display: none;
	padding: 13px 0px 80px 0px;
}

.slider-item:nth-child(1) {
	background-image: url("../img/slide1.png");
	background-repeat: no-repeat;
	background-position: bottom right 31px;
}

.slider-item:nth-child(2) {
	background-image: url("../img/slide2.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

.slider-item:nth-child(3) {
	background-image: url("../img/slide3.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
	display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
	display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
	display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
	content: "";
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	width: 4px;
	height: 4px;
	margin: -4px;
	background-color: inherit;
	border: 2px solid #c1c1c1;
	border-radius: 50%;
}

.slider-item h3 {
	font: inherit;
	font-size: 55px;
	line-height: 55px;
	text-transform: none;
	padding: 0;
	max-width: 550px;
	margin-bottom: 27px;
}

.slider-item p {
	font-size: 16px;
	line-height: 24px;
	text-transform: none;
	
	max-width: 430px;
	margin-bottom: 37px;
}

.slider-button {
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
	
	display: inline-block;
	width: 240px;
	padding: 16px 0px
}

/*главная услуги*/

.services-list {
	list-style: none;
	
	text-align: left;
	
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	padding: 0px;
	margin: 0px;
	margin-top: 80px
}

.services-item {
	width: 300px;
	margin-right: 100px;
	margin-bottom: 82px;
}

.services-item:nth-child(3) {
	margin-right: 60px;
}

.services-item img {
	width: 300px;
}

.services-item h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
	
	margin-top: 22px;
	margin-bottom: 16px;
}

.services-item p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	text-transform: none;
	
	max-width: 260px;
	margin-bottom: 32px;
}

.services-item .order-button {
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	
	border: none;
	border-radius: 3px;
	
	display: inline-block;
	width: 160px;
	padding: 16px 40px;
	box-sizing: border-box;
}

.order-red {
	background-color: #fb565a;
}

.order-red:hover,
.order-red:focus {
	background-color: #e74246;
}

.order-red:active {
	color: #e37376;
	
	background-color: #d7373b;
	box-shadow: 0px -2px #c13135;
	outline: none;
}

.order-green {
	background-color: #00ca74;
}

.order-green:hover,
.order-green:focus {
	background-color: #00bc6c;
}

.order-green:active {
	color: #43c08b;
	
	background-color: #00aa62;
	box-shadow: 0px -2px #009958;
	outline: none;
}

.order-yellow {
	background-color: #efc84a;
}

.order-yellow:hover,
.order-yellow:focus {
	background-color: #eab534;
}

.order-yellow:active {
	color: #ecbe5c;
	
	background-color: #e5a722;
	box-shadow: 0px -2px #ce961f;
	outline: none;
}

/*главная о студии*/

.studio-info img {
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #eeeeee;
	padding: 0px;
	margin: 0px;
}

.studio-projects {
	position: relative;
	
	display: flex;
	align-items: center;
	
	width: 1200px;
	margin: 0px auto;
	margin-bottom: 80px;
	padding: 45px 0px 40px 0px;
	box-sizing: border-box;
	
	list-style: none;
}

.studio-projects a {
	display: block;
	
	width: 300px;
	padding: 0px;
	margin: 0px;
	
	text-align: center;
	
	opacity: 0.2;
}

.studio-projects::after {
	content: "";
	
	position: absolute;
	left: 20px;
	bottom: 0px;
	height: 2px;
	width: 1160px;
	background-color: #eeeeee;
}

.studio-projects li:not(:first-child)::before {
	content: "";
	
	position: absolute;
	top: 65px;
	
	height: 52px;
	padding: 0px;
	margin: 0px;
	
	border-right: 2px solid #eeeeee;
}

.studio-projects a:hover,
.studio-projects a:focus {
	opacity: 1;
}

.studio-projects a:active {
	opacity: 0.1;
}

/*каталог общая сетка*/

.header-catalog {
	font: inherit;
	font-size: 55px;
	line-height: 55px;
	text-transform: none;
	text-align: center;
	
	margin: 0px;
	padding-top: 70px;
	padding-bottom: 106px;
}

.header-catalog-block {
	background-color: #eeeeee;
}

.catalog-block {
	display: flex;
	justify-content: space-between;
	padding-top: 52px;
}

/*каталог фильтры стоимость*/

.range-controls {
	position: relative;
	
	height: 41px;
	margin-top: 50px;
	margin-bottom: 15px;
	padding-top: 39px;
	padding-right: 20px;
	padding-left: 20px;
	
	background-color: #f1f1f1;
	
	border-radius: 5px;
}

.range-controls .scale {
	height: 2px;
	
	background: #d7dcde;
}

.range-controls .bar {
	width: 70%;
	height: 2px;
	
	background: #00ca74;
}

.range-controls .toggle {
	position: absolute;
	top: 31px;
	left: 0;
	
	width: 4px;
	height: 4px;
	padding: 0;

	border: 8px solid #ffffff;
	background-color: #ababab;
	box-shadow: 0 2px 1px 0 #cfcfcf;
	border-radius: 50%;
	
	cursor: pointer;
}

.range-controls .toggle-min {
	left: 18px;
}

.range-controls .toggle-max {
	left: 160px;
}

.price-controls {
	font-weight: 400;
	font-size: 0px;
	line-height: 22px;
	
	margin-bottom: 5px;
}

.price-controls label {
	display: inline-block;
	width: 50%;
	
	font-size: 16px;
}

.price-controls input {
	font-size: 16px;
	text-align: center;
	color: #283136;
	
	width: 60px;
	padding: 8px 10px;
	margin-left: 10px;
	
	border: none;
	border-radius: 5px;
	background: #f1f1f1;
}

.price-controls input:hover {
	background: #dfdfdf;
}

.price-controls input:focus {
	border: 3px solid #dbdbdb;
	border-radius: 5px;
	background: #ffffff;
	outline: none;
}

.max-price {
	text-align: right;
}

/*каталог фильтры сетка+особенности*/

.filters {
	font: inherit;
}

.filter-header {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	
	padding: 0px;
	margin: 0px;
}

.catalog-filters {
	width: 260px;
}

.catalog-filters fieldset {
	padding: 0px;
	margin: 0px;
	margin-bottom: 52px;
	
	border: none;
}

.grid-filter {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.feature-filter {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.option-filter {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: none;
	margin-top: 18px;
	padding-left: 35px;
}

.option-filter label {
	position: relative;
	
	display: block;
	
	cursor: pointer;
}

.input-radio + label::before {
	content: "";
	position: absolute;
	left: -35px;
	top: -2px;
	
	width: 25px;
	height: 25px;
	
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.4;
}

.input-radio:checked + label::after {
	content: "";
	position: absolute;
	left: -35px;
	top: -2px;
	
	width: 25px;
	height: 25px;
	
	background-image: url("../img/radio-on.svg");
	opacity: 0.4;
}

.input-radio:checked ~ label::before {
	display: none;
}

.input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -35px;
	top: -2px;

	width: 23px;
	height: 23px;
	
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.4;
}

.input-checkbox:checked ~ label::before {
	content: "";
	position: absolute;
	left: -35px;
	top: -2px;

	width: 27px;
	height: 23px;
	
	background-image: url("../img/checkbox-on.svg");
	opacity: 0.4;
}

.option-filter label:focus::before,
.option-filter label:hover::before,
.option-filter label:focus::after,
.option-filter label:hover::after {
	opacity: 1;
}

.option-filter input[type="checkbox"],
.option-filter input[type="radio"] {
	display: none;
}

.button-show {
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	
	background-color: #eeeeee;
	border: none;
	border-radius: 3px;
	
	display: inline-block;
	vertical-align: middle;
	padding: 18px 90px;
}

.button-show:hover,
.button-show:focus {
	background-color: #dfdfdf;
}

.button-show:active {
	color: #959595;
	
	background-color: #d5d5d5;
	box-shadow: 0px -2px #959595;
	outline: none;
}

/*каталог сортировка*/

.cards-sorting {
	display: flex;
	justify-content: space-between;
	
	padding: 0px;
	margin: 0px;
}

.cards-sorting ul {
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	opacity: 0.3;
	
	position: relative;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	
	width: 360px;
	padding: 0px;
	padding-right: 90px;
	margin: 0px;
	margin-left: 62px;
	box-sizing: border-box;
	
	list-style: none;
}

.cards-sorting ul::after {
	content: "";
	
	position: absolute;
	right: 30px;
	
	width: 11px;
	height: 10px;
	background-image: url("../img/icon-down-dir.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.3;
}

.cards-sorting ul::before {
	content: "";
	
	position: absolute;
	right: 0px;
	
	width: 11px;
	height: 10px;
	background-image: url("../img/icon-up-dir.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.3;
}

/*каталог карточки*/

.catalog-items {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	width: 760px;
	padding: 0px;
	margin: 0px;
	margin-top: 50px;
	margin-bottom: 145px;
	
	list-style: none;
}

.item {
	padding: 0px;
}

.block-item {
	position: relative;
	
	width: 360px;
	margin-bottom: 35px;
	padding-top: 40px; /*для декорат браузера*/
}

.template-item img {
	vertical-align: bottom; /*исправление бага с появлением отступа снизу*/
}

.template-item::before {
	content: "";
	position: absolute;
	top: 0px;
	
	width: 360px;
	height: 40px;
	
	background-image: url("../img/browser.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.1;
}

.template-item:hover::before,
.template-item:focus::before {
	opacity: 1;
}

.description-item {
	font: inherit;
	text-align: center;
	background-color: #eeeeee;
	
	position: absolute;
	bottom: 0px;
	
	padding: 26px 80px 40px 80px;
}

.description-item .header-item {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	
	margin: 0px;
}

.description-item p {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: none;
	color: #666666;
	
	margin-bottom: 32px;
}

.button-buy {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
	
	display: inline-block;
	vertical-align: middle;
	padding: 16px 62px;
}

.button-buy:focus,
.button-buy:hover {
	background-color: #e74246;
}

.button-buy:active {
	color: #e37376;

	background-color: #d7373b;
	box-shadow: 0px -2px #c13135;
	outline: none;
}

/*футер*/

.main-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	padding-top: 65px;
	padding-bottom: 70px;
}

.social-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 260px;
	padding: 0px;
	margin: 0px;
	
	list-style: none;
}

.foot-text {
	margin-left: 140px;
	align-self: center;
}

.main-footer h5 {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	text-transform: none;
	
	margin: 0px;
}

.main-footer p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-transform: none;
	
	padding: 0px;
	margin: 0px;
	margin-top: 12px;
}

.button-social {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 80px;
	height: 80px;
	border-radius: 40px;
	
	background-color: #e1e1e1;
}

.button-social:hover,
.button-social:focus {
	background-color: #e74246;
}

.button-social:active {
	background-color: #e74246;
	box-shadow: 0px -2px #c13135;
}

.button-social:active path {
	opacity: 0.3;
}

/*карта контакты*/

.map {
	position: relative;
	
	width: 1440px;
	margin: 0px auto;
}

.contacts {
	content: "";
	
	position: absolute;
	top: 55px;
	left: 140px;
	
	width: 220px;
	padding: 0px;
	margin: 0px;
	padding: 50px;
	background-color: #ffffff;
}

.contacts h4 {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500px;
	
	padding: 0px;
	margin: 0px;
	margin-bottom: 30px;
}

.contacts p {
	font-size: 16px;
	line-height: 18px;
	font-weight: 400px;
	text-transform: none;
	
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
}

.write-us-button {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
	
	display: inline-block;
	vertical-align: middle;
	
	width: 140px;
	padding: 0px;
	margin: 0px;
	padding: 18px 40px;
}

.write-us-button:hover,
.write-us-button:focus {
	background-color: #e74246;
}

.write-us-button:active {
	color: #e37376;
	
	background-color: #d7373b;
	box-shadow: 0px -2px #c13135;
	outline: none;
}


/*Форма Напишите нам*/

.write-us-form h4 {
	font-size: 45px;
	line-height: 45px;
	text-transform: none;
	
	padding: 0px;
	padding-left: 100px;
	padding-top: 70px;
	margin: 0px;
	margin-bottom: 40px;
}

.area-input,
.area-letter {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-transform: none;
}

.area-input {
	display: block;
}

.area-letter {
	margin-top: 35px;
}

.write-us-form {
	display: none;
	
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}

.write-us-form-show {
	display: block;
}

.write-us-form input,
.write-us-form textarea {
	font: inherit;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: none;
	color: #a1a1a1;
	
	border: 2px solid #d7dcde;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
	color: #a1a1a1;
	
	border: 2px solid #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
	color: #505050;
	
	border: 2px solid #000000;
	outline: none;
}

.write-us-fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	margin-left: 100px;
	margin-right: 100px;
	
	position:relative;
}

.write-us-fields input {
	margin: 0px;
	margin-top: 12px;
	padding: 14px;
	width: 328px;
}

.write-us-fields textarea {
	padding: 14px;
	margin: 0px;
	margin-top: 12px;
	
	width: 760px;
}

.input-fields {
	padding: 0px;
	margin: 0px;
}

.send-button {
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
	
	display: inline-block;
	vertical-align: middle;
	padding: 16px 80px;
	width: 260px;
	
	margin-top: 47px;
	margin-bottom: 85px;
}

.send-button:hover,
.send-button:focus {
	background-color: #e74246;
}

.send-button:active {
	color: #e37376;
	
	background-color: #d7373b;
	box-shadow: 0px -2px #c13135;
	outline: none;
}

.close-button {
	content: "";
	position:absolute;
	top: -75px;
	left: 750px;
	
	background-image: url("../img/close-cross.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 21px;
	height: 21px;
	
	font-size: 0;
	background-color: transparent;
	border: 0;
	cursor: pointer;
}


