body {
	margin: 0px;
	
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 500;
	color: #000000;
	text-transform: uppercase;
	
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active) {
	position: absolute;

	width: 1px;
	height: 1px;
	padding: 0px;
	margin: -1px;
	border: 0px;

	white-space: nowrap;

	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/*базовая ширина + выравнивание*/
.center {
	width: 1160px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
}

/*навигация*/

.main-header {
	background-color: #eeeeee;
}

.logo {
	width: 160px;
}

.main-navigation {
	font-size: 16px;
	line-height: 30px;
	
	background-color: #eeeeee;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	padding-top: 50px;
	
	outline: 2px solid red;
}

.main-navigation a {
	color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
	color: #fb565a;
}

.main-navigation a:active {
	color: #a6a6a6;
}

.site-navigation{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	
	width: 440px;
	padding: 0px;
	margin: 0px;
	
	list-style: none;
	outline: 2px solid red;
}

.user-cart {
	position: relative;
	
	align-self: center;
	
	max-width: 115px;
	margin: 0px;
	padding-left: 40px;
	
	list-style: none;
	outline: 2px solid red;
}

.cart-icon::before {
	content: "";
	
	position: absolute;
	top: 7px;
	left: 0px;
	
	width: 16px;
	height: 16px;
	
	background-image: url("../img/cart-icon.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

/*главная услуги*/

.services-list {
	list-style: none;
	
	text-align: left;
	
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 1100px;
	margin-top: 80px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	padding-right: 80px;
	
	outline: 2px solid red;
}

.services-item {
	width: 300px;
}

.services-item h3 {
	font-weight: 700;
	font-size: 24px;
	line-height: 30px;
}

.services-item p {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #283136;
	text-transform: none;
	
	margin-bottom: 20px;
	
	outline: 1px solid red;
}

.services-item .order {
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	text-align: center;
	
	border: none;
	border-radius: 3px;
	
	display: inline-block;
	vertical-align: middle;
	padding: 16px 40px;
}

.order-red {
	background-color: #fb565a;
}

.order-red:hover,
.order-red:focus {
	background-color: #e74246;
}

.order-red:active {
	color: #e37376;
	
	background-color: #d7373b;
	box-shadow: 0px -2px #c13135;
	outline: none;
}

.order-green {
	background-color: #00ca74;
}

.order-green:hover,
.order-green:focus {
	background-color: #00bc6c;
}

.order-green:active {
	color: #43c08b;
	
	background-color: #00aa62;
	box-shadow: 0px -2px #009958;
	outline: none;
}

.order-yellow {
	background-color: #efc84a;
}

.order-yellow:hover,
.order-yellow:focus {
	background-color: #eab534;
}

.order-yellow:active {
	color: #ecbe5c;
	
	background-color: #e5a722;
	box-shadow: 0px -2px #ce961f;
	outline: none;
}

/*каталог общая сетка*/

.header-catalog {
	font-size: 55px;
	line-height: 55px;
	text-transform: none;
	text-align: center;
}

.header-catalog-block {
	display: flex;
	justify-content: center;
	
	background-color: #eeeeee;
	margin: 0px;
	padding-top: 60px;
	padding-bottom: 90px;
	
	outline: 2px solid red;
}

.catalog-block {
	display: flex;
	justify-content: space-between;
	
	outline: 2px solid red;
}


/*каталог фильтры*/

.filter-header {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	
	padding: 0px;
	margin: 0px;
	margin-bottom: 20px;
}

.catalog-filters {
	width: 260px;
	margin-top: 325px;
}

.catalog-filters fieldset {
	padding: 0px;
	margin: 0px;
	margin-bottom: 35px;
	
	border: none;
}

.grid-filter {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.feature-filter {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

.option-filter {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	text-transform: none;
	
	padding-left: 35px;
	margin-bottom: 25px;

/* 	outline: 1px solid black; */
}

.option-filter label {
	position: relative;
	
	display: block;
	
	cursor: pointer;
}

.input-radio + label::before {
	content: "";
	position: absolute;
	left: -35px;
	top: -2px;
	
	width: 25px;
	height: 25px;
	
	background-image: url("../img/radio-off.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.4;
}

.input-radio:checked + label::after {
	content: "";
	position: absolute;
	left: -35px;
	top: -2px;
	
	width: 25px;
	height: 25px;
	
	background-image: url("../img/radio-on.svg");
	opacity: 0.4;
}

.input-radio:checked ~ label::before {
	display: none;
}



.input-checkbox + label::before {
	content: "";
	position: absolute;
	left: -35px;
	top: -2px;

	width: 23px;
	height: 23px;
	
	background-image: url("../img/checkbox-off.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.4;
}

.input-checkbox:checked ~ label::before {
	content: "";
	position: absolute;
	left: -35px;
	top: -2px;

	width: 27px;
	height: 23px;
	
	background-image: url("../img/checkbox-on.svg");
	opacity: 0.4;
}

.option-filter label:focus::before,
.option-filter label:hover::before,
.option-filter label:focus::after,
.option-filter label:hover::after {
	opacity: 1;
}

/* .option-filter label:disabled {
	opacity: 0.3;
} */


.option-filter input[type="checkbox"],
.option-filter input[type="radio"] {
	display: none;
}

.button-show {
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	text-align: center;
	
	background-color: #eeeeee;
	border: none;
	border-radius: 3px;
	
	display: inline-block;
	vertical-align: middle;
	padding: 20px 90px;
}

.button-show:hover,
.button-show:focus {
	background-color: #dfdfdf;
}

.button-show:active {
	color: #959595;
	
	background-color: #d5d5d5;
	box-shadow: 0px -2px #959595;
	outline: none;
}

/*каталог карточки*/

.catalog-cards {
	width: 800px;
	margin-top: 135px;
	
	outline: 2px solid red;
}

.catalog-items {
	display: flex;
	flex-wrap: wrap;
	
	padding: 0px;
	margin: 0px;
	
	list-style: none;
}

.item {
	padding: 0px;
	
	outline: 1px dashed blue;
}

.block-item {
	position: relative;
	
	width: 360px;
	margin-bottom: 35px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 40px;
	
	outline: 1px dashed black;
}

.template-item img {
	vertical-align:bottom; /*исправление бага с появлением отступа снизу*/
}

.template-item::before {
	content: "";
	position: absolute;
	top: 0px;
	
	width: 360px;
	height: 40px;
	
	background-image: url("../img/browser.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	opacity: 0.1;
}

.description-item {
	font: inherit;
	text-align: center;
	background-color: #eeeeee;
	
	position: absolute;
	bottom: 0px;
	
	padding: 0px;
	padding-left: 80px;
	padding-right: 80px;
	
	outline: 1px dashed yellow;
}

.description-item h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 30px;
	
	margin: 0px;
	padding-top: 25px;
	
	outline: 1px dashed black;
}

.description-item p {
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: none;
	
	margin-bottom: 30px;
	outline: 1px dashed black;
}

.button-buy {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
	
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
	
	display: inline-block;
	vertical-align: middle;
	padding: 16px 62px;
	margin-bottom: 45px;
}

.button-buy:focus,
.button-buy:hover {
	background-color: #e74246;
}

.button-buy:active {
	color: #e37376;

	background-color: #d7373b;
	box-shadow: 0px -2px #c13135;
	outline: none;
}

/*футер*/

.main-footer {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	
	padding-top: 70px;
	padding-bottom: 70px;
	
	outline: 1px solid red;
}

.social-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	width: 260px;
	padding: 0px;
	margin: 0px;
	
	list-style: none;
	outline: 1px solid black;
}

.foot-text {
	margin-left: 140px;
	align-self: center;
	
	outline: 1px solid black;
}

.main-footer h5 {
	font-weight: 700;
	font-size: 36px;
	line-height: 36px;
	text-transform: none;
	
	padding-bottom: 15px;
	margin: 0px;
}

.main-footer p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	text-transform: none;
	
	padding: 0px;
	margin: 0px;
}

.button-social {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 80px;
	height: 80px;
	border-radius: 40px;
	
	background-color: #e1e1e1;
	
/* 	outline: 2px solid blue; */
}

.button-social:hover,
.button-social:focus {
	background-color: #e74246;
}

.button-social:active {
	background-color: #e74246;
	box-shadow: 0px -2px #c13135;
}

.button-social:active path {
	opacity: 0.3;
}

/*Форма Напишите нам*/

.write-us-form h4 {
	font-size: 45px;
	line-height: 45px;
	text-transform: none;
	
	padding: 0px;
	margin: 0px;
	padding-left: 100px;
	padding-top: 70px;
	margin-bottom: 40px;
	
	outline: 1px solid black;
	}

.area-input,
.area-letter {
	font-size: 16px;
	line-height: 18px;
	font-weight: 700;
	text-transform: none;
}

.area-input {
	display: block;
	
	outline: 1px dashed blue;
}

.area-letter {
	margin-top: 35px;
}

.write-us-form {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
	
	outline: 1px solid black;
}

.write-us-form input,
.write-us-form textarea {
	font: inherit;
	font-weight: 400;
	font-size: 16px;
	line-height: 18px;
	text-transform: none;
	color: #a1a1a1;
	
	border: 2px solid #d7dcde;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
	color: #a1a1a1;
	
	border: 2px solid #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
	color: #505050;
	
	border: 2px solid #000000;
	outline: none;
}

.write-us-fields {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	
	margin-left: 100px;
	margin-right: 100px;
	
	position:relative;
	
	outline: 2px dashed black;
}

.write-us-fields input {
	margin: 0px;
	margin-top: 12px;
	padding: 14px;
	width: 328px;
}

.write-us-fields textarea {
	padding: 14px;
	margin: 0px;
	margin-top: 12px;
	
	
	width: 760px;
}

.input-fields {
	padding: 0px;
	margin: 0px;
	
	outline: 1px solid red;
}


.send-button {
	font: inherit;
	font-size: 16px;
	line-height: 18px;
	text-transform: uppercase;
	color: #ffffff;
	text-align: center;
	
	background-color: #fb565a;
	border: none;
	border-radius: 3px;
	
	display: inline-block;
	vertical-align: middle;
	padding: 16px 80px;
	width: 260px;
	
	margin-top: 47px;
	margin-bottom: 85px;
}

.send-button:hover,
.send-button:focus {
	background-color: #e74246;
}

.send-button:active {
	color: #e37376;
	
	background-color: #d7373b;
	box-shadow: 0px -2px #c13135;
	outline: none;
}

.close-button {
	content: "";
	position:absolute;
	top: -75px;
	left: 750px;
	
/* 	background-image: url("../img/close-cross.svg");
	background-repeat: no-repeat;
	background-position: 0px 0px;
	width: 21px;
	height: 21px; */
}