body {
  margin: 0px;

  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  color: #000000;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden,
.option-filter input[type="radio"],
.option-filter input[type="checkbox"] {
  position: absolute;

  width: 1px;
  height: 1px;
  padding: 0px;
  margin: -1px;
  border: 0px;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*базовая ширина + выравнивание*/

.center {
  width: 1200px;
  padding: 0px 20px;
  margin: 0px auto;

  -webkit-box-sizing: border-box;

          box-sizing: border-box;
}

/*навигация*/

.main-header {
  padding: 0px;
  margin: 0px;
  background-color: #eeeeee;
}

.logo {
  width: 160px;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  
  font-size: 16px;
  line-height: 30px;

  background-color: #eeeeee;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover:not(.active-menu),
.main-navigation a:focus:not(.active-menu) {
  color: #fb565a;
}

.main-navigation a:active:not(.active-menu) {
  color: #a6a6a6;
}

.site-navigation{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 438px;
  padding: 0px;
  margin: 0px;

  list-style: none;
}

.site-navigation a {
  display: block;
  padding: 0px;
  margin: 0px;
  margin-top: 24px;
}

.active-menu {
  border-bottom: 4px solid #eeeeee;
  -webkit-box-shadow: 0px 2px #fb565a;
          box-shadow: 0px 2px #fb565a;
}

.active-menu:hover,
.active-menu:focus {
  color: #000000;
}

.user-cart {
  display: block;
  width: 115px;
  margin: 0px;
  padding-left: 41px;

  list-style: none;
}

.cart-icon {
  position: relative;

  display: block;
  margin-top: 24px;

  text-align: right;
}

.cart-icon::before {
  content: "";

  position: absolute;
  top: 7px;
  left: 0px;
  width: 16px;
  height: 16px;

  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

/*главная слайдер*/

.container {
  padding: 0px;
  margin: 0px;

  background-color: #eeeeee;
}

.slider {
  position: relative;

  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;

  text-align: center;
  font-size: 0;

  -webkit-transform: translateX(-50%);

          transform: translateX(-50%);
}

.slider-controls label {
  position: relative;

  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  vertical-align: middle;

  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";

  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;

  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  padding: 0px;
  margin: 0px;

  list-style: none;
}

.slider-item {
  display: none;
  padding: 13px 0px 80px 0px;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: bottom right 31px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 550px;
  padding: 0px;
  margin-bottom: 27px;
  
  font: inherit;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
}

.slider-item p {
  max-width: 430px;
  margin-bottom: 37px;
  
  font-size: 16px;
  line-height: 24px;
  text-transform: none;
}

.slider-button {
  display: inline-block;
  width: 240px;
  padding: 16px 0px;
  text-align: center;
  vertical-align: middle;
  
  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.slider-button:hover,
.slider-button:focus {
  background-color: #e74246;
}

.slider-button:active {
  color: #e37376;

  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 2px #c13135;
          box-shadow: inset 0px 2px #c13135;
  outline: none;
}

/*главная услуги*/

.services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 0px;
  margin: 0px;
  margin-top: 80px;
  text-align: left;

  list-style: none;
}

.services-item {
  width: 300px;
  margin-right: 100px;
  margin-bottom: 82px;
}

.services-item:nth-child(3n) {
  margin-right: 60px;
}

.services-item img {
  width: 300px;
}

.services-item h3 {
  margin-top: 22px;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.services-item p {
  max-width: 300px;
  margin-bottom: 32px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  text-transform: none;
}

.services-item .order-button {
  display: inline-block;
  width: 160px;
  padding: 16px 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: middle;

  font: inherit;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;

  border: none;
  border-radius: 3px;
}

.order-red {
  background-color: #fb565a;
}

.order-red:hover,
.order-red:focus {
  background-color: #e74246;
}

.order-red:active {
  color: #e37376;

  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 2px #c13135;
          box-shadow: inset 0px 2px #c13135;
  outline: none;
}

.order-green {
  background-color: #00ca74;
}

.order-green:hover,
.order-green:focus {
  background-color: #00bc6c;
}

.order-green:active {
  color: #43c08b;

  background-color: #00aa62;
  -webkit-box-shadow: inset 0px 2px #009958;
          box-shadow: inset 0px 2px #009958;
  outline: none;
}

.order-yellow {
  background-color: #efc84a;
}

.order-yellow:hover,
.order-yellow:focus {
  background-color: #eab534;
}

.order-yellow:active {
  color: #ecbe5c;

  background-color: #e5a722;
  -webkit-box-shadow: inset 0px 2px #ce961f;
          box-shadow: inset 0px 2px #ce961f;
  outline: none;
}

/*главная о студии*/

.studio-info {
  position: relative;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 46px;
}

.studio-info:before {
  content: "";

  position: absolute;
  top: 0px;
  left: 20px;
  width: 1160px;
  height: 2px;
  
  background-color: #eeeeee;
}

.studio-info h2 {
  padding: 0px;
  margin: 0px;
  margin-top: 36px;
  
  font: inherit;
  font-size: 45px;
  line-height: 45px;
  text-transform: none;
}

.studio-info p {
  padding: 0px;
  margin: 0px;
  padding-bottom: 10px;
  margin-top: 32px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
}

.studio-info h3 {
  padding: 0px;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 26px;

  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.info-advantages {
  padding: 0px;
  margin: 0px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;

  list-style: none;
}

.info-advantages li {
  position: relative;
  
  padding-left: 37px;
  margin-bottom: 30px;
}

.info-advantages li::before {
  content: "";

  position: absolute;
  top: 10px;
  left: 0px;
  width: 25px;
  height: 2px;

  background-color: #fb565a;
}

.studio-about-1 {
  max-width: 660px;
  padding: 0px;
  margin: 0px;
}

.studio-about-2 {
  max-width: 360px;
  padding: 0px;
  margin: 0px;
}

.studio-about-2 h3 {
  padding-bottom: 40px;

  text-align: center;
}

.info-accuracy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  margin: 0px;

  font-size: 45px;
  line-height: 45px;
  font-weight: 700;

  list-style: none;
}

.info-accuracy li {
  padding: 0px;
  margin: 0px;
  margin-right: 22px;
}

.info-accuracy sup {
  font-size: 26px;
  line-height: 26px;
}

.info-accuracy-legend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0px;
  padding-top: 22px;
  margin: 0px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;

  list-style: none;
}

.info-accuracy-legend li {
  max-width: 100px;
  padding: 0px;
  margin: 0px;
  margin-right: 20px;
}

.studio-projects {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1200px;
  padding: 45px 0px 45px 0px;
  margin: 0px auto;
  margin-bottom: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  list-style: none;
}

.studio-projects a {
  display: block;
  width: 300px;
  padding: 0px;
  margin: 0px;
  text-align: center;

  opacity: 0.2;
}

.studio-projects::before {
  content: "";

  position: absolute;
  top: 0px;
  left: 20px;
  width: 1160px;
  height: 2px;

  background-color: #eeeeee;
}

.studio-projects::after {
  content: "";

  position: absolute;  
  left: 20px;
  bottom: 0px;
  width: 1160px;
  height: 2px;

  background-color: #eeeeee;
}

.studio-projects li:not(:first-child)::before {
  content: "";

  position: absolute;
  top: 65px;
  height: 52px;
  padding: 0px;
  margin: 0px;

  border-right: 2px solid #eeeeee;
}

.studio-projects a:hover,
.studio-projects a:focus {
  opacity: 1;
}

.studio-projects a:active {
  opacity: 0.1;
}

/*каталог общая сетка*/

.header-catalog {
  margin: 0px;
  padding-top: 70px;
  padding-bottom: 106px;

  font: inherit;
  font-size: 55px;
  line-height: 55px;
  text-transform: none;
  text-align: center;
}

.header-catalog-block {
  background-color: #eeeeee;
}

.catalog-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 52px;
}

/*каталог фильтры стоимость*/

.range-controls {
  position: relative;
  height: 41px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  margin-top: 50px;
  margin-bottom: 15px;

  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;

  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;

  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0px;

  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;

  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  margin-bottom: 5px;

  font-weight: 400;
  font-size: 0px;
  line-height: 22px;
}

.price-controls label {
  display: inline-block;
  width: 50%;
  vertical-align: middle;
  
  font-size: 16px;
}

.price-controls input {
  width: 54px;
  padding: 6px 10px;
  margin-left: 10px;
  
  font-size: 16px;
  color: #283136;
  text-align: center;

  border: 3px solid #f1f1f1;
  border-radius: 5px;
  background: #f1f1f1;
}

.price-controls input:hover {
  border: 3px solid #dfdfdf;
  background: #dfdfdf;
}

.price-controls input:focus {
  border: 3px solid #dbdbdb;
  border-radius: 5px;
  background: #ffffff;
  outline: none;
}

.max-price {
  text-align: right;
}

.range-filter {
  margin-bottom: 55px;
}

/*каталог фильтры сетка+особенности*/

.filters {
  font: inherit;
}

.filter-header {
  padding: 0px;
  margin: 0px;

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.catalog-filters {
  width: 260px;
}

.catalog-filters fieldset {
  padding: 0px;
  margin: 0px;

  border: none;
}

.grid-filter {
  padding: 0px;
  margin: 0px;
  margin-bottom: 48px;

  list-style: none;
}

.feature-filter {
  padding: 0px;
  margin: 0px;
  margin-bottom: 48px;
  
  list-style: none;
}

.option-filter {
  padding-left: 35px;
  margin-top: 18px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
}

.feature-filter .option-filter {
  margin-top: 20px;
}

.option-filter label {
  position: relative;

  display: block;

  cursor: pointer;
}

.input-radio + label::before {
  content: "";
  
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  opacity: 0.4;
}

.input-radio:checked + label::after {
  content: "";
  
  position: absolute;
  top: -2px;
  left: -35px;
  width: 25px;
  height: 25px;

  background-image: url("../img/radio-on.svg");
  opacity: 0.4;
}

.input-radio:checked ~ label::before {
  display: none;
}

.input-checkbox + label::before {
  content: "";
  
  position: absolute;
  top: -2px;
  left: -35px;
  width: 23px;
  height: 23px;

  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  opacity: 0.4;
}

.input-checkbox:checked ~ label::before {
  content: "";
  
  position: absolute;
  top: -2px;
  left: -35px;
  width: 27px;
  height: 23px;

  background-image: url("../img/checkbox-on.svg");
  opacity: 0.4;
}

.option-filter label:focus::before,
.option-filter label:hover::before,
.option-filter label:focus::after,
.option-filter label:hover::after {
  opacity: 1;
}

.option-filter input[type="checkbox"]:focus + label::before {
  opacity: 1;
}

.option-filter input[type="radio"]:focus + label::after {
  opacity: 1;
}

.option-filter input:disabled + label::before {
  opacity: 0.4;
}

.option-filter input:disabled ~ label {
  opacity: 0.2;
}

.button-show {
  display: inline-block;
  padding: 16px 90px;
  vertical-align: middle;

  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-align: center;

  background-color: #eeeeee;
  border: none;
  border-radius: 3px;
}

.button-show:hover,
.button-show:focus {
  background-color: #dfdfdf;
}

.button-show:active {
  color: #959595;

  background-color: #d5d5d5;
  -webkit-box-shadow: inset 0px 2px #959595;
          box-shadow: inset 0px 2px #959595;
  outline: none;
}

/*каталог сортировка*/

.cards-sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px;
  margin: 0px;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sorting-types {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 272px;
  padding: 0px;
  margin: 0px;

  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  list-style: none;
}


.sorting-types  a:not(.sorting-type-active) {
  color: #000000;

  opacity: 0.3;
}

.sorting-type-active {
  color: #000000;

  opacity: 1;
}

.sorting-up-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 42px;
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  list-style: none;
}

.sorting-types a:not(.sorting-type-active):hover,
.sorting-types a:not(.sorting-type-active):focus {
  opacity: 0.6;
}

.sorting-types a:not(.sorting-type-active):active {
  opacity: 1;
}

.icon-up {
  opacity: 0.2;
}

.icon-up:hover,
.icon-up:focus {
  opacity: 0.6;
}

.icon-down:active,
.icon-up:active {
  opacity: 1;
}

/*каталог карточки*/

.catalog-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
  padding: 0px;
  margin: 0px;
  margin-top: 50px;

  list-style: none;
}

.item {
  padding: 0px;
}

.block-item {
  position: relative;

  width: 360px;
  padding-top: 40px; /*для декорат браузера*/
  margin-bottom: 35px;
}

.template-item img {
  vertical-align: bottom; /*исправление бага с появлением отступа снизу*/
}

.template-item::before {
  content: "";

  position: absolute;
  top: 0px;
  width: 360px;
  height: 40px;

  background-image: url("../img/browser.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  opacity: 0.1;
}

.template-item:hover::before,
.template-item:focus::before {
  opacity: 1;
}

.template-item:hover ~ .description-item {
  display: block;
}

.template-item:active ~ .description-item {
  display: block;
}

.description-item:hover {
  display: block;
}

.description-item {
  display: none;
  position: absolute;
  bottom: 0px;
  padding: 26px 80px 40px 80px;

  font: inherit;
  text-align: center;

  background-color: #eeeeee;
}

.description-item .header-item {
  margin: 0px;
  
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.description-item p {
  margin-top: 20px;
  margin-bottom: 32px;
  
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  color: #666666;
}

.button-buy {
  display: inline-block;
  vertical-align: middle;
  width: 200px;
  padding: 16px 0px;
  
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.button-buy:focus,
.button-buy:hover {
  background-color: #e74246;
}

.button-buy:active {
  color: #e37376;

  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 2px #c13135;
          box-shadow: inset 0px 2px #c13135;
  outline: none;
}

/*каталог странички*/

.catalog-pages a {
  color: #000000;
}

.catalog-pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 432px;
  padding: 0px;
  margin: 0px;
  margin-top: 23px;
  margin-bottom: 58px;

  font-size: 16px;
  line-height: 18px;
  
  list-style: none;
}

.catalog-pages a {
  display: inline-block;
  margin-right: 12px;
  vertical-align: middle;

  border: 2px solid #eeeeee;
  border-radius: 3px;
}

.catalog-pages a:not(.page-next) {
  padding: 14px 18px;
}

.page-next {
  padding: 14px 76px;
}

.catalog-pages a:not(.page-active) {
  background-color: #eeeeee;
}

.catalog-pages a:not(.page-active):hover,
.catalog-pages a:not(.page-active):focus {
  background-color: #dfdfdf;
  border: 2px solid #dfdfdf;
}

.catalog-pages a:not(.page-active):active {
  color: #959595;

  background-color: #d5d5d5;
  border: 2px solid #d5d5d5;
  -webkit-box-shadow: 0px -2px #bfbfbf;
          box-shadow: 0px -2px #bfbfbf;
}

.page-active {
  background-color: #ffffff;
}

/*футер*/

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 65px;
  padding-bottom: 70px;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 260px;
  padding: 0px;
  margin: 0px;

  list-style: none;
}

.foot-text {
  margin-left: 140px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.main-footer h5 {
  margin: 0px;

  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: none;
}

.main-footer p {
  padding: 0px;
  margin: 0px;
  margin-top: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: none;
}

.button-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80px;
  height: 80px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  
  border-radius: 40px;
  background-color: #e1e1e1;
}

.button-social:hover,
.button-social:focus {
  background-color: #e74246;
}

.button-social:active {
  background-color: #e74246;
  -webkit-box-shadow: inset 0px 2px #c13135;
          box-shadow: inset 0px 2px #c13135;
}

.button-social:active path {
  opacity: 0.3;
}

/*карта контакты*/

.map {
  position: relative;

  width: 1200px;
  margin: 0px auto;
}

.contacts {
  content: "";

  position: absolute;
  top: 55px;
  left: 20px;
  width: 220px;
  padding: 0px 50px 0px 50px;
  margin: 0px;

  background-color: #ffffff;
}

.contacts h4 {
  padding: 0px;
  margin-top: 46px;
  margin-bottom: 24px;

  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
}

.contacts p {
  padding: 0px;
  margin: 0px;
  margin-bottom: 18px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: none;
}

.write-us-button {
  display: inline-block;
  width: 140px;
  padding: 16px 40px;
  margin: 0px;
  margin-top: 18px;
  margin-bottom: 48px;
  vertical-align: middle;

  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.write-us-button:hover,
.write-us-button:focus {
  background-color: #e74246;
}

.write-us-button:active {
  color: #e37376;

  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 2px #c13135;
          box-shadow: inset 0px 2px #c13135;
  outline: none;
}

/*Форма Напишите нам*/

.write-us-form h4 {
  padding: 0px;
  padding-left: 100px;
  padding-top: 70px;
  margin: 0px;
  margin-bottom: 40px;

  font-size: 45px;
  line-height: 45px;
  text-transform: none;
}

.area-input,
.area-letter {
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  text-transform: none;
}

.area-input {
  display: block;
}

.area-letter {
  margin-top: 35px;
}

.write-us-form {
  position: absolute;
  top: -130px;
  left: 120px;

  display: none;
  width: 960px;
  margin-left: auto;
  margin-right: auto;

  background-color: #ffffff;
  border: 1px solid #eeeeee;
}

.write-us-form-show {
  display: block;

  -webkit-animation: bounce 0.2s;

          animation: bounce 0.2s;
}

.write-us-form input,
.write-us-form textarea {
  font: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: none;
  color: #a1a1a1;

  border: 2px solid #d7dcde;
}

.write-us-form input:hover,
.write-us-form textarea:hover {
  color: #a1a1a1;

  border: 2px solid #b4b9bb;
}

.write-us-form input:focus,
.write-us-form textarea:focus {
  color: #505050;

  border: 2px solid #000000;
  outline: none;
}

.write-us-fields {
  position:relative;
  
  display: -webkit-box;
  
  display: -ms-flexbox;
  
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 100px;
  margin-right: 100px;
}

.write-us-fields input {
  width: 328px;
  padding: 14px;
  margin: 0px;
  margin-top: 12px;
}

.write-us-fields textarea {
  width: 760px;
  padding: 14px;
  margin: 0px;
  margin-top: 12px;
}

.input-fields {
  padding: 0px;
  margin: 0px;
}

.send-button {
  display: inline-block;
  width: 260px;
  padding: 16px 80px;
  margin-top: 47px;
  margin-bottom: 85px;
  vertical-align: middle;

  font: inherit;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;

  background-color: #fb565a;
  border: none;
  border-radius: 3px;
}

.send-button:hover,
.send-button:focus {
  background-color: #e74246;
}

.send-button:active {
  color: #e37376;

  background-color: #d7373b;
  -webkit-box-shadow: inset 0px 2px #c13135;
          box-shadow: inset 0px 2px #c13135;
  outline: none;
}

.close-button {
  content: "";

  position:absolute;
  top: -75px;
  left: 750px;
  width: 21px;
  height: 21px;

  font-size: 0;  
  
  background-image: url("../img/close-cross.svg");
  background-repeat: no-repeat;
  background-position: 0px 0px;

  background-color: transparent;
  border: 0;
  cursor: pointer;
}

@-webkit-keyframes bounce {
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}